.jumbotron{
    text-align: center;
    padding-bottom: 0rem !important;
}

.body {
    width: 90%;
    margin: 20px auto 20px auto;
}

#myTabContent {
    margin: 20px;
}

#core-indicator-table {
    margin-bottom: 20px !important;
}

#core-indicator-table tr th {
    width: 33%;
}

#sub-indicator-table tr th {
    width: 33%;
}